absl-py==1.0.0
affine==2.3.1
aiogrpc==1.8
aiohttp==3.8.1
aiosignal==1.2.0
airsim==1.5.0
albumentations==1.1.0
argcomplete==1.12.3
astunparse==1.6.3
async-timeout==4.0.2
attrs==19.3.0
Automat==0.8.0
blinker==1.4
cachetools==5.0.0
Cerberus==1.3.4
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
click-plugins==1.1.1
cligj==0.7.2
cloud-init==21.2
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
coverage==5.5
cryptography==2.8
cycler==0.10.0
dbus-python==1.2.16
deepforest==1.2.1
descartes==1.1.0
distro==1.4.0
distro-info===0.23ubuntu1
empy==3.3.4
entrypoints==0.3
Fiona==1.8.21
flatbuffers==2.0
fonttools==4.26.2
frozenlist==1.3.0
fsspec==2022.3.0
future==0.18.2
gast==0.5.3
GDAL==3.3.2
geopandas==0.10.2
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.6.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
imagecodecs==2022.2.22
imageio==2.18.0
importlib-metadata==4.11.3
incremental==16.10.1
Jinja2==2.10.1
joblib==1.1.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
kaleido==0.2.1
kconfiglib==14.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==14.0.1
lxml==4.6.3
Markdown==3.3.6
MarkupSafe==1.1.0
matplotlib==3.5.0b1
mavsdk==0.19.0
more-itertools==4.2.0
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
multidict==6.0.2
munch==2.5.0
NavPy==1.0
netifaces==0.10.4
networkx==2.8
numpy==1.22.3
nunavut==1.4.2
oauthlib==3.1.0
opencv-contrib-python==4.5.3.56
opencv-python==4.1.2.30
opencv-python-headless==4.5.5.64
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.3
pexpect==4.6.0
Pillow==8.3.2
pkgconfig==1.5.5
plotly==4.14.3
progressbar2==4.0.0
protobuf==3.18.0
psutil==5.8.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyDeprecate==0.3.2
pydsdl==1.12.1
pygdal==3.3.2.10
Pygments==2.3.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymavlink==2.4.16
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyproj==3.3.1
pyros-genmsg==0.5.8
pyrsistent==0.15.5
pyserial==3.5
pyshp==2.2.0
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-utils==3.1.0
pytorch-lightning==1.6.1
pytz==2021.1
pyulog==0.9.0
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
rasterio==1.2.10
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
retrying==1.3.3
rsa==4.8
Rtree==1.0.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
SecretStorage==2.3.1
service-identity==18.1.0
setuptools-scm==6.3.2
Shapely==1.8.1.post1
simplejson==3.16.0
six==1.14.0
slidingwindow==0.0.14
snuggs==1.4.7
sos==4.1
spicy==0.16.0
ssh-import-id==5.10
systemd-python==234
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.4.22
toml==0.10.2
tomli==1.2.1
torch==1.11.0
torchmetrics==0.8.1
torchvision==0.12.0
tqdm==4.64.0
Twisted==18.9.0
typing-extensions==4.2.0
ubuntu-advantage-tools==27.2
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
Werkzeug==2.1.1
wrapt==1.14.0
xmltodict==0.12.0
yarl==1.7.2
zipp==1.0.0
zope.interface==4.7.1
